### imports and load data

In [2]:
import pandas as pd
import numpy
import datetime
import math

# import io
# from google.colab import files
# uploaded = files.upload()
# df = pd.read_excel(io.BytesIO(uploaded['<filename>.xlsx']))

df = pd.read_excel('test_data.xlsx', sheet_name="aio")

df.head(3)

   id                  DoB        DoT       amt
0   1  1996-02-24 00:00:00 1997-01-30    123.45
1   2  1997-05-22 00:00:00 2003-08-19   1234.34
2   3  1999-04-17 00:00:00 1997-08-09  23234.56

### assignments and functions

In [3]:
lookup = {1: 'janvier', 2: 'février', 3: 'mars', 4: 'avril', 5: 'mai',
            6: 'juin', 7: 'juillet', 8: 'août', 9: 'septembre', 10: 'octobre', 11: 'novembre', 12: 'décembre'}


def conv_date(t_date):
    if type(t_date) != datetime.datetime and type(t_date) != pd._libs.tslibs.timestamps.Timestamp:
        return ""
    else:
        return_str = str(t_date.day) + ' ' + lookup[t_date.month] + ' ' + str(t_date.year)
        return return_str


def fix_round(num, position=0):
    '''fixes rounding error in py - may not be accurate w/ extremely precise numbers such as 0.49999999999999998

	params:
	num (float/int)
	position (int): default is 0

	returns rounded result
    
    '''

    if type(num) != float and type(num) != int and type(num) != numpy.float:
        return 0.00

    multiplier = 10**position
    num = multiplier * num

    try:
        after_decimal = str(num).split('.')[1]
    except:
        return (num/multiplier)

    if after_decimal == '5':
        if num > 0:
            x = math.ceil(num) 
            return (round((x)/multiplier,position))
        if num < 0:
            x = math.floor(num) 
            return (round((x)/multiplier,position))
    else:
        return (round(num/multiplier, position))


def conv_curr(t_amt):
    t_str = str(fix_round(t_amt, 2))
    t_list = t_str.split('.')

    before_dec = t_list[0]
    
    before_dec_list = [before_dec[0:len(before_dec)%3]] + [before_dec[i:i+3] for i in range(len(before_dec)%3, len(before_dec), 3)]

    before_dec_str = ' '.join(before_dec_list)
    
    if len(t_list[1]) == 1:
        t_list[1] += '0' 

    return_str = before_dec_str + ',' + t_list[1] + ' $' 
    return return_str

### user input

In [4]:
curr_col_list_input = ['amt']
date_col_list_input = ['DoB', 'DoT']


for col in curr_col_list_input:
    df[col] = df[col].fillna(0)
    df[col] = df[col].apply(conv_curr)
    df[col] = df[col].apply(lambda x: x.strip())

for col in date_col_list_input:
    df[col] = df[col].apply(conv_date)

C:\Users\ronal\AppData\Local\Temp/ipykernel_12100/791537914.py:24: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if type(num) != float and type(num) != int and type(num) != numpy.float:

### output

In [6]:
df.to_excel('test_out.xlsx', index=False)

# files.download('test_out.xlsx')

df

   id              DoB              DoT          amt
0   1  24 février 1996  30 janvier 1997     123,45 $
1   2      22 mai 1997     19 août 2003   1 234,34 $
2   3    17 avril 1999      9 août 1997  23 234,56 $
3   4                       9 août 1999   3 434,34 $
4   5                   15 février 2002      45,30 $
5   6                                         1,00 $
6   7                                         0,00 $
7   8                                         0,00 $
8   9                                         0,00 $